node_red.txt
[
    {
        "id": "42113ff58ebf75cf",
        "type": "tab",
        "label": "ADV_SERVER",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "78e61e9b5edaac90",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscibe COLORS FROM AGV",
        "topic": "name/adv/colorsensor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 40,
        "wires": [
            [
                "a4084774b2dfd876",
                "4824aeefc9a26c24"
            ]
        ]
    },
    {
        "id": "4824aeefc9a26c24",
        "type": "mqtt out",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Publish COLORS TO RPI",
        "topic": "name/adv/cos",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e81cfeb978605dbb",
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "a4084774b2dfd876",
        "type": "debug",
        "z": "42113ff58ebf75cf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 40,
        "wires": []
    },
    {
        "id": "96e1d7974edbd4c2",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscribe SEQ FROM RPI ",
        "topic": "name/adv/seq",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "26c521c28100852e"
            ]
        ]
    },
    {
        "id": "26c521c28100852e",
        "type": "debug",
        "z": "42113ff58ebf75cf",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 160,
        "wires": []
    },
    {
        "id": "31838b535fb3bf93",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscribe UI STATUS",
        "topic": "name/adv/ui",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 840,
        "y": 1060,
        "wires": [
            [
                "da5e503918ebeca5",
                "6523d62e31db4f5e",
                "e899870cf372d936",
                "2a1f7b1e1d6f5a8d",
                "68317b08b659e700",
                "3f20fc54cea6508d",
                "41d3926cea97d499",
                "d322b5a60fffd84b",
                "d196c81f95b13bde",
                "ae8b3ab6da78f6f3",
                "89187ebbc31f8c32"
            ]
        ]
    },
    {
        "id": "63e3e474d1e3785a",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] RESET STATUS",
        "topic": "name/adv/rst",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 940,
        "wires": [
            [
                "5fbb24dccdc1b916"
            ]
        ]
    },
    {
        "id": "d3508837bc9d7812",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscribe COOR STATUS ",
        "topic": "name/adv/coor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 880,
        "y": 40,
        "wires": [
            [
                "b0e7ad28afe8212b"
            ]
        ]
    },
    {
        "id": "b81fa4628a5a7a81",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscribe SHP STATUS ",
        "topic": "name/adv/shp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 870,
        "y": 120,
        "wires": [
            [
                "e3d7cb5aa594687d"
            ]
        ]
    },
    {
        "id": "b0e7ad28afe8212b",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "msg.color = \"green\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 40,
        "wires": [
            [
                "5cf72db564145dfa",
                "151a3a621fe286e1"
            ]
        ]
    },
    {
        "id": "5fbb24dccdc1b916",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Reset Dashboard",
        "func": "msg.payload = \"\";\nmsg.color = \"gray\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1000,
        "wires": [
            [
                "5cf72db564145dfa",
                "151a3a621fe286e1",
                "335e68265272ed23",
                "2dc3b8b350c3dd0a",
                "10b0ebf07a5f5664",
                "fdd48e48f908f402",
                "beefb26241a847b2",
                "a5f84159c53fd07c",
                "2e1757691054457f",
                "b58781ebf8a5af29",
                "63e04201090c303c",
                "19c60fe42af7f09b",
                "60054ed6aa632d3a",
                "728eb0960764f02d",
                "0492dc770dd164f6",
                "cb12e034b6300355",
                "64cc9aa336e86bf1",
                "febb6839bbcb50da",
                "7f05a220d7df6c44",
                "45c5c1e9f3ad796c",
                "029f0e80208a0117",
                "3b99e53ba70a006e",
                "db2986fc1de5f953",
                "06e2a7a8f9305070",
                "678dc8af73cfa2f9",
                "3b93905a0642a587",
                "36b12eaa241aaddf",
                "af259e891d9c7520",
                "780a043c31203bc4",
                "804ca7d210f39705"
            ]
        ]
    },
    {
        "id": "5cf72db564145dfa",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI _CACOOR",
        "order": 8,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1540,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "151a3a621fe286e1",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 7,
        "width": 4,
        "height": 2,
        "name": "MD_CACOOR",
        "label": "[CARTESIAN]:COORDINATE RECEIVE",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1540,
        "y": 80,
        "wires": []
    },
    {
        "id": "2dc3b8b350c3dd0a",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 35,
        "width": 4,
        "height": 2,
        "name": "MD_RPSHP",
        "label": "[RPI]:SHAPE DETECT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1530,
        "y": 180,
        "wires": []
    },
    {
        "id": "335e68265272ed23",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_RPSHP",
        "order": 36,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1530,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e3d7cb5aa594687d",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "msg.color = \"green\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 120,
        "wires": [
            [
                "335e68265272ed23",
                "2dc3b8b350c3dd0a"
            ]
        ]
    },
    {
        "id": "89187ebbc31f8c32",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[CARTESIAN]:SETUP COMPLETE!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 480,
        "wires": [
            [
                "fdd48e48f908f402",
                "beefb26241a847b2"
            ]
        ]
    },
    {
        "id": "fdd48e48f908f402",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_CSC",
        "order": 3,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1460,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "beefb26241a847b2",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 2,
        "width": 2,
        "height": 2,
        "name": "MD_CSC",
        "label": "SETUP PROCESS",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1460,
        "y": 520,
        "wires": []
    },
    {
        "id": "536331d91402828f",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscribe COLOR STATUS",
        "topic": "name/adv/col",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 980,
        "y": 240,
        "wires": [
            [
                "244c035547b66087"
            ]
        ]
    },
    {
        "id": "244c035547b66087",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "msg.color = \"green\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "10b0ebf07a5f5664",
                "36b12eaa241aaddf"
            ]
        ]
    },
    {
        "id": "10b0ebf07a5f5664",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_AGCOL",
        "order": 28,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1530,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "36b12eaa241aaddf",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 27,
        "width": 4,
        "height": 2,
        "name": "MD_AGCOL",
        "label": "[AGV]:START PICK-UP OBJECT",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1530,
        "y": 300,
        "wires": []
    },
    {
        "id": "da5e503918ebeca5",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[AGV]:MOVE TO LOADING ZONE!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 800,
        "wires": [
            [
                "a5f84159c53fd07c",
                "804ca7d210f39705"
            ]
        ]
    },
    {
        "id": "a5f84159c53fd07c",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_ALZ",
        "order": 22,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2e1757691054457f",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_CLZ",
        "order": 11,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6523d62e31db4f5e",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[CONVEYOR]:OBJECT IN LOADING ZONE!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 880,
        "wires": [
            [
                "2e1757691054457f",
                "b58781ebf8a5af29"
            ]
        ]
    },
    {
        "id": "b58781ebf8a5af29",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 10,
        "width": 2,
        "height": 2,
        "name": "MD_CLZ",
        "label": "OBJECT IN LOADING ZONE!",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 920,
        "wires": []
    },
    {
        "id": "fe807b17b7913fe7",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "CONVEYOR & CARTESIAN STATUS",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1870,
        "y": 20,
        "wires": []
    },
    {
        "id": "341039535b28fd7a",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 20,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "RPI & AGV STATUS",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1820,
        "y": 60,
        "wires": []
    },
    {
        "id": "e899870cf372d936",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[CONVEYOR]:OBJECT IN DETECT ZONE!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 960,
        "wires": [
            [
                "63e04201090c303c",
                "19c60fe42af7f09b"
            ]
        ]
    },
    {
        "id": "63e04201090c303c",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_CDZ",
        "order": 13,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "19c60fe42af7f09b",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 12,
        "width": 2,
        "height": 2,
        "name": "MD_CDZ",
        "label": "OBJECT IN DETECT ZONE!",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 1000,
        "wires": []
    },
    {
        "id": "60054ed6aa632d3a",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_SDE",
        "order": 32,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "2a1f7b1e1d6f5a8d",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[RPI]:SHAPE DETECTION END PROCESS\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1040,
        "wires": [
            [
                "60054ed6aa632d3a",
                "728eb0960764f02d"
            ]
        ]
    },
    {
        "id": "728eb0960764f02d",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 31,
        "width": 2,
        "height": 2,
        "name": "MD_SDE",
        "label": "SHAPE DETECTION END PROCESS",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 1080,
        "wires": []
    },
    {
        "id": "68317b08b659e700",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[RPI]:SHAPE DETECTION IS PROCESSING\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1120,
        "wires": [
            [
                "0492dc770dd164f6",
                "cb12e034b6300355"
            ]
        ]
    },
    {
        "id": "0492dc770dd164f6",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_SDS",
        "order": 30,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "cb12e034b6300355",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 29,
        "width": 2,
        "height": 2,
        "name": "MD_SDS",
        "label": "SHAPE DETECTION IS PROCESSING",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3f20fc54cea6508d",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[AGV]:MOVE TO UNLOADING ZONE!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1200,
        "wires": [
            [
                "64cc9aa336e86bf1",
                "febb6839bbcb50da"
            ]
        ]
    },
    {
        "id": "64cc9aa336e86bf1",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_AULZ",
        "order": 24,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1510,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "febb6839bbcb50da",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 23,
        "width": 2,
        "height": 2,
        "name": "MD_AULZ",
        "label": "MOVE TO UNLOADING ZONE!",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1510,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7dde338dfbefbff6",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[RPI]:OBJECT DETECT COMPLETE!\") {\n    msg.color = \"green\";\n}\nelse if (msg.payload === \"[RPI]:OBJECT IS NOT DETECT!\"){\n    msg.color = \"red\";   \n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 1280,
        "wires": [
            [
                "7f05a220d7df6c44",
                "45c5c1e9f3ad796c"
            ]
        ]
    },
    {
        "id": "7f05a220d7df6c44",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_ODS",
        "order": 34,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "45c5c1e9f3ad796c",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 33,
        "width": 2,
        "height": 2,
        "name": "MD_ODS",
        "label": "OBJECT DETECT STATUS",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 1320,
        "wires": []
    },
    {
        "id": "41d3926cea97d499",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[CONVEYOR]:OBJECT IN UNLOADING ZONE!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1360,
        "wires": [
            [
                "029f0e80208a0117",
                "3b99e53ba70a006e"
            ]
        ]
    },
    {
        "id": "029f0e80208a0117",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_CULZ",
        "order": 15,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1510,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "3b99e53ba70a006e",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 14,
        "width": 2,
        "height": 2,
        "name": "MD_CULZ",
        "label": "OBJECT IN UNLOADING ZONE!",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1510,
        "y": 1400,
        "wires": []
    },
    {
        "id": "d322b5a60fffd84b",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"[AGV]:MOVE TO END POINT\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1440,
        "wires": [
            [
                "db2986fc1de5f953",
                "06e2a7a8f9305070"
            ]
        ]
    },
    {
        "id": "db2986fc1de5f953",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_AEP",
        "order": 26,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "06e2a7a8f9305070",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 25,
        "width": 2,
        "height": 2,
        "name": "MD_AEP",
        "label": "MOVE TO END POINT",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d196c81f95b13bde",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"COMPLETE PROCESS\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1230,
        "y": 1520,
        "wires": [
            [
                "678dc8af73cfa2f9",
                "3b93905a0642a587"
            ]
        ]
    },
    {
        "id": "678dc8af73cfa2f9",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_CCP",
        "order": 18,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1500,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "3b93905a0642a587",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 17,
        "width": 2,
        "height": 2,
        "name": "MD_CCP",
        "label": "COMPLETE PROCESS",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 1560,
        "wires": []
    },
    {
        "id": "375f09e46055611f",
        "type": "inject",
        "z": "42113ff58ebf75cf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RESET",
        "payloadType": "str",
        "x": 790,
        "y": 880,
        "wires": [
            [
                "5fbb24dccdc1b916"
            ]
        ]
    },
    {
        "id": "ae8b3ab6da78f6f3",
        "type": "function",
        "z": "42113ff58ebf75cf",
        "name": "Function for Dashboard",
        "func": "if (msg.payload === \"WAITING DATA FROM MQTT.!\") {\n    msg.color = \"green\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "af259e891d9c7520",
                "780a043c31203bc4"
            ]
        ]
    },
    {
        "id": "af259e891d9c7520",
        "type": "ui_template",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "name": "GPI_MQTT",
        "order": 5,
        "width": 2,
        "height": 2,
        "format": "<div style=\"text-align: center; padding: 10px;\">\n    <div\n        style=\"width: 20px; height: 20px; border-radius: 50%; background-color: {{msg.color || 'grey'}}; margin: 0 auto; border: 2px solid #333; box-shadow: 0 0 10px rgba(0,0,0,0.3);\">\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1590,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "780a043c31203bc4",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 4,
        "width": 2,
        "height": 2,
        "name": "MD_MQTT",
        "label": "START SENT DATA TO MQTT",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1590,
        "y": 660,
        "wires": []
    },
    {
        "id": "804ca7d210f39705",
        "type": "ui_text",
        "z": "42113ff58ebf75cf",
        "group": "98a87b35a33655a6",
        "order": 21,
        "width": 2,
        "height": 2,
        "name": "MD_ALZ",
        "label": "[AGV]:MOVE TO LOADING ZONE!",
        "format": "",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "12",
        "color": "#000000",
        "x": 1500,
        "y": 840,
        "wires": []
    },
    {
        "id": "1c886d443037c633",
        "type": "mqtt in",
        "z": "42113ff58ebf75cf",
        "name": "[MQTT] Subscribe STATUS",
        "topic": "name/adv/obs",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "e81cfeb978605dbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 820,
        "y": 1280,
        "wires": [
            [
                "7dde338dfbefbff6"
            ]
        ]
    },
    {
        "id": "c84cabb1588295fa",
        "type": "ui_spacer",
        "z": "42113ff58ebf75cf",
        "name": "spacer",
        "group": "98a87b35a33655a6",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "487f44e212a5d8ab",
        "type": "ui_spacer",
        "z": "42113ff58ebf75cf",
        "name": "spacer",
        "group": "98a87b35a33655a6",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "fe48194cf6007eae",
        "type": "ui_spacer",
        "z": "42113ff58ebf75cf",
        "name": "spacer",
        "group": "98a87b35a33655a6",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b0da9f4a24c3a54",
        "type": "ui_spacer",
        "z": "42113ff58ebf75cf",
        "name": "spacer",
        "group": "98a87b35a33655a6",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "e81cfeb978605dbb",
        "type": "mqtt-broker",
        "name": "EMQX",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "98a87b35a33655a6",
        "type": "ui_group",
        "name": "[MAIN]",
        "tab": "75b253f07db7c48b",
        "order": 1,
        "disp": false,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "75b253f07db7c48b",
        "type": "ui_tab",
        "name": "ADV_DASHBOARD",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dd9ecf663fef5b7a",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]
